::ng-deep .p-card  {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 28%);
    /*background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../../assets/fondo3.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
}
::ng-deep .p-cardxxx::after {
    content: "";
    background: url("../../assets/fondo11.jpg");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
::ng-deep .titulo1 h2 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 28px;
    text-align: left;
    margin-bottom: 20px;
}

::ng-deep .p-toolbar h3 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200 bold;
    font-size: 30px;
    color: white;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
}

::ng-deep .p-toolbar {
    width: 100%;
    /*overflow: hidden;*/
    background:#2196F3 ;
    position: fixed;
    top: 0;
    z-index: 30;
  }
  
::ng-deep #GLiquidaciones {
    margin-top: 90px;
}