<dx-toolbar
    #toolrep
    [items]="toolbarContent">
</dx-toolbar>
<dx-drawer
    #drawer
    [openedStateMode]="selectedOpenMode"
    [position]="selectedPosition"
    [revealMode]="selectedRevealMode"
    template="template"
    [(opened)]="isDrawerOpen"
    height="90vh"
    [closeOnOutsideClick]="true">
    <div *dxTemplate="let data of 'template'" style="width: 200px">
        <div id="panel-rep">
                <dx-list class="panel-list"
                    [dataSource]="navigation"
                    [hoverStateEnabled]="false"
                    [activeStateEnabled]="false"
                    [focusStateEnabled]="false"
                    [grouped]="true"
                    height="auto"
                    selectionMode="single"
                    [scrollByContent]="true"
                    [collapsibleGroups]="true"
                    (onItemClick)=selAplicacion($event)>
                    <div *dxTemplate="let item of 'group'">
                        <div style="height: 30px;">{{item.key}}</div>
                    </div>
                </dx-list>
        </div>
    </div>
    <!-- <div id="content" class="dx-theme-background-color" [innerHTML]="text"></div> -->
    <div id="content" class="content-block dx-card responsive-paddings">
        <p-breadcrumb [home]="home" [model]="itemsNav" styleClass="clsMenuBadge" (onItemClick)="OnItemBread($event)"></p-breadcrumb>
        <router-outlet></router-outlet>
    </div>
    
</dx-drawer>
